* {
    font-family: 'Roboto', Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    margin: 0; 
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 auto;
    justify-content: space-between;
    background-color: #1F2937;
    height: 100%;
    margin: 0;
}
.links {
 align-self: center;
 font-size: 18px;
 color: #E5E7EB;
 display: flex;
 gap: 20px;
}

/* This is the main page layout space */
.mainpage {
display: flex;
flex-direction: column;
background-color: #1F2937;
color: #E5E7EB;
padding: 10px 0;
flex-grow: 1;
padding: 30px 0;
}

h1 {
color: #E5E7EB;
font-size: 48px;
}

.leftcontent {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.firstbutton {
align-self: flex-start;
}

.fillertext {
align-self: flex-start;
}

.imagecontainer {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.imageheader { /*visit it later*/
    max-width: auto;
    max-height: 200px;
}
/* h3 also is used in the small panel */
h3 {
  font-size: 24px;
  color: #F9FAF8;
}
/* This is the central layout space */
.central {
 display: flex;
}

.list {
display: flex;
flex-direction: row;
justify-content: flex-start;
}

h2 {
  align-self: center;
}

/* This is the quotepanel space */
.quotepanel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E5E7EB;
    padding: 20px;
    margin: 0;
}

.quotemaker {
 align-self: flex-end;
}

/* This is a smallpanel space */
.smallpanel {
    
}


button {
    border-radius: 15px
}

/* Footer */
footer {
 
}