* {
    font-family: 'Roboto', Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    border: solid 1px;
    padding: 1px;
    flex: 1 1 auto;
    justify-content: space-between;
    background-color: #1F2937;
    height: 100%
}
.links {
 align-self: center;
 font-size: 18px;
 color: #E5E7EB;
 display: flex;
 gap: 20px;
}

/* This is the main page layout space */
.mainpage {

}

h1 {

}

/* h3 also is used in the small panel */
h3 {
  font-size: 24px;
  color: #F9FAF8;
}
/* This is the central layout space */
.central {
 
}

ul {
   
}

h2 {
  
}

/* This is the quotepanel space */
.quotepanel {
   
}

.quote {
  
}

.quotemaker {
 
}

/* This is a smallpanel space */
.smallpanel {
    
}

/* Footer */
footer {
 
}