* {
    font-family: 'Roboto', Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;

    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 auto;
    justify-content: space-between;
    background-color: #1F2937;
    height: 100%
}
.links {
 align-self: center;
 font-size: 18px;
 color: #E5E7EB;
 display: flex;
 gap: 20px;
}

/* This is the main page layout space */
.mainpage {
display: flex;
flex-direction: column;
background-color: #1F2937;
color: #E5E7EB;
padding: 30px;
}

h1 {
color: #E5E7EB;
font-size: 48px;
}

.leftcontent {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.firstbutton {
align-self: flex-start;
}

.fillertext {
align-self: flex-start;
}

.imagecontainer {
    display: flex;
    justify-content: flex-end; /* Center the image to the right */
    align-items: center;
}

.imageheader {
    max-width: auto;
    max-height: 200px;
}
/* h3 also is used in the small panel */
h3 {
  font-size: 24px;
  color: #F9FAF8;
}
/* This is the central layout space */
.central {
 
}

ul {
   
}

h2 {
  
}

/* This is the quotepanel space */
.quotepanel {
   
}

.quote {
  
}

.quotemaker {
 
}

/* This is a smallpanel space */
.smallpanel {
    
}


button {
    border-radius: 15px
}

/* Footer */
footer {
 
}